body {
    background: rgb(70, 142, 236);
    font-family: 'Open Sans', sans-serif;
}

#section {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 15px 0;
    max-width: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    font-style: italic;
}

header, footer {
    color: white;
}

header, footer, section {
    text-align: center;
}

#time {
    font-size: 25px;
}

#greet {
    font-size: 20px;
}

#titleWrapper {
    width: 100%;
    text-align: center;
}

#photoTime {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}

#photoWrapper {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    #section {
        max-width: 500px;
    }
}

@media (max-width: 450px) {
    #photoTime {
        width: 165px;
        height: 165px;
    }
}
